@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--ess-bg: #FFE8CC;
--ess-accent: #FF7A00;
--ess-text: #222222;
}


html,
body,#__next{ height:100%; }
body{ 
      background:var(--ess-bg); 
      color:var(--ess-text); 
      font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; 
    }


/* Ajustes globais simples */
/*html, body, #__next {
  height: 100%;
}
body {
  background-color: theme('colors.ess-bg');
  color: theme('colors.ess-text');
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}*/
